*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: rgb(176, 225, 225);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width:100%;
}

.body{
    height: 70%;
    width: 45vw;
    display: flex;
    background-color: antiquewhite;
    justify-content: center;
}

.image{
    background-color: rgb(0, 255, 170);
    height:70vh;
    width:25vw;
    display: flex;
    opacity: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    
    /* display: none; */  
}

.overlay{
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 50%;
    position:absolute;
}

.paragraph{
    font-size: 45px;
    color: aliceblue;
    margin-right: 25%;
    margin-top: 80%;
    position: absolute;
}

.form{
    background-color: rgb(244, 255, 175);
    position:absolute;
    padding: 0;
    margin-left: 458px;
    height: 70vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;  
    display: none;
}

h1{
    color: rgb(32, 52, 69);
    margin-top: 20px;
    display: flex;
}

input{
    margin-top: 30px;
    height: 30px;
    width: 300px;
    margin-bottom: 0px;
    padding: 5px;
    
}
.click{
    height: 10vh;
    width:50vw;
    margin-top: 470px;
    margin-left: 485px;
    margin-right: 25px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    height: 5vh;
    width: 6vw;
    padding: 2px;
    margin:2px 13px ;
    color:blue;
    background-color: pink;
    cursor: pointer;
}

button reg{
    background-color: aqua;
}



