*{
    margin: 0;
    box-sizing: border-box;
}

@media(max-width:1400px ){
    h1{
        font-size: 40px;
    }

    .search{
        width: 90%;

    }

    .search i{
        left: 15px;
        margin-right: 0px;

    }

    .search button {
        width: 100px;
        font-size: 16px;

    }

    .cards{
        width: 95%;
        padding: 20px;
        flex-wrap: wrap;

    }

    .card{
        width: 300px;
        margin: 20px;
        margin-bottom: 20px;

    }
}

@media (max-width: 480px) {
    .container{
        padding: 15px;
        height: 100%;
        position: relative;
    }

    h1{
        font-size: 30px;
        
    }

    .search{
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .search i{
        margin-bottom: 60px;

    }
    
    .search>button{
    height: 30px;
    width: 320px;
    }
}

.container{
    background-color: beige;
    height:100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px;
    position: relative;
}
h1{
   color: brown;
   font-weight: bolder;
   font-family: Cambria, serif;
    font-size:60px;
    position: absolute;

}

.search{
    border: 2px solid gray;
    height: 50px;
    width: 500px;
    margin-top: 100px; 
    border: 2px;
    margin-top: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.search input{
    height: 50px;
    width: 100%;
    padding-left: 50px;
    font-size: 16px;
}
.search i{
    position: absolute;
    color: gray;
    margin-right: 450px;
}
.search button{
    background-color: skyblue;
    height: 50px;
    width: 120px;
    margin: 5px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
    padding: 12px;
    border: 1px solid navy;

}
.cards{
    /* height: 70vh; */
    width:90vw;
    background-color: aliceblue;
    margin-top: 200px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid gray;
}
.card{
    background-color: blanchedalmond;
    width: 350px;
    height: 450px;
    margin: 70px;
    border: 2px solid rgb(166, 166, 166);
    padding: 20px;
}

